@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(242, 235, 227);
    height: 97vh;
    width: 100vw;
}

@media (max-width: 600px){
    a, form{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: white;
    }

    p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    padding-bottom: 10px;
    }
    h2{
    font-family: 'Fraunces';
    font-weight: 700;
    color: rgb(60, 128, 103);
    font-size: 32px;
    }

    h3{ 
    font-size: 1em;
    font-weight: 400;
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: rgb(108, 114, 137);
    }
    .titulo{
    color: rgb(28, 35, 43);
    text-align: left;
    font-weight: 700;
    font-family: 'Fraunces';
    font-size: 1.8rem;
    margin: 10px 0px;
    }
    span{
    font-weight: 400 ;
    margin-right: 5px;
    display: flex;
    align-items: center;
    } 

    main{
        display: flex;
    }

    section{
        display: block;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
        border-radius: 15px;
        width: 85vw;
        height: 90vh;
        margin: 0 auto;
        background-color: white;
        overflow: hidden;
        
    }
   
    .preco{
        padding: 20px 0px;
        display: inline;
    }

    .botao{
        width: 70vw;
        border: none;
        border-radius: 10px;
        display: flex; 
        margin-top: 10px;
        padding: 10px;
        background: hsl(158, 36%, 37%);   
        justify-content: center;
        cursor: pointer;
    }
    .botao:hover{
        background: hsl(212, 21%, 14%);
    }
    .botao > a {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat';
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 5px;
        cursor: pointer;
        
    }

    footer{
        bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;

    }
    .anuncio{
        display: block;
        margin: 20px;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
        width: 100vw;
        height: 40vh;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
    }
}